.Link > button{

    margin: 15px;
    text-decoration: none;
    color: white;
    font-weight: 650;
    font-size: large;
}
.lb{
  border: none;
  background-color: transparent;
  color: white !important;
  padding: 5px 25px;
}
.lb:hover{
  border-radius: 10px;
  background-color: #BF2EF0;
}

.Navb{

  float: right;
}



#A{

  background-color: black;
  color: white;
 
}

.slide{
  background-color: rgba(0,0,0,0.5);
  position: relative;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.slidecon{
  text-align: center;
}
.slidecon > h1{
  font-size: 90px;
  color: white;
  margin-bottom: 50px;
}

.slidecon > h4{
  font-size: 60px;
  color: white;
  margin-bottom: 50px;
}

.background-clip{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hb{
  background-image: url("../assets/images/bg3.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  color: white;
  /* height:"850px"  */
  
}

#hb1{
  background-image: url("../assets/images/busbg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  z-index: -1;
  color: white;
}

#S > form > div > div > input{
    height: 45px;
    width: 85%;
    /* border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    margin-top: 10px;
    margin-left: 13px; */
  }


  .testbutton {
    font-family: arial;
    font-weight: bold;
    color: white !important;
    font-size: 18px;
    text-shadow: 0px 0px 0px #7CACDE;
    
    padding: 5px 25px;
    margin-top: 15px;
    margin-left: 0px;
    border-radius: 10px;
    border: 2px solid #BF2EF0;
    background: #BF2EF0;
  }
  .testbutton:hover {
    color: white !important;
    background: #c569e3;
  }

  .testbuttonbt {
    font-family: arial;
    font-weight: bold;
    color: white !important;
    font-size: 20px;
    text-shadow: 0px 0px 0px #7CACDE;
    width: 100%;
    height: 45px;
    
    padding: 5px 25px;
    margin-top: 15px;
    /* margin-left: 15px; */
    border-radius: 10px;
    border: 2px solid #BF2EF0;
    background: #BF2EF0;
  }
  .testbuttonbt:hover {
    color: white !important;
    background: #c569e3;
  }

  #L > form > div > input{
    height: 45px;
    width: 85%;
    /* border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    margin-top: 10px;
    margin-left: 13px; */
  }

  .testbutton1 {
    font-family: arial;
    font-weight: bold;
    color: white !important;
    font-size: 18px;
    text-shadow: 0px 0px 0px #7CACDE;
    
    padding: 5px 25px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
    border: 2px solid #BF2EF0;
    background: #BF2EF0;
  }
  .testbutton1:hover {
    color: white !important;
    background: #c569e3;
  }

  .testbuttonhp{
    font-family: arial;
    font-weight: bold;
    color: white !important;
    font-size: 18px;
    text-shadow: 0px 0px 0px #7CACDE;
    
    padding: 5px 25px;
    margin-top: 0px;
    /* margin-left: 20px; */
    margin-bottom: 25px;
    border-radius: 10px;
    border: 2px solid #BF2EF0;
    background: #BF2EF0;
  }

  .testbuttonhp:hover {
    color: white !important;
    background: #c569e3;
  }

  .crd > div > img{
    height: 200px;
  }

.sbox{

  border-radius: 20px;
  border: 1px solid rgb(207, 89, 228);
  background-color: transparent;
  color: white;
}

.card1 {
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  border: 1px solid rgb(207, 89, 228);
  box-shadow: 0px 0px 6px 3px rgba(249, 246, 246, 0.59);
  /* box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.59); */
}

.card2 {
 
  background-color:  rgba(125, 125, 125, 0.46);
  /* backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%); */
  border-radius: 12px;
  border: 1px solid rgb(207, 89, 228);
  /* box-shadow: 0px 0px 6px 3px rgba(249, 246, 246, 0.59); */
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.59);
}


#BT{

  background-image: url("../assets/images/b6.jpg");
  background-size: cover;
  background-position: center;
  /* background: #E634DD;
  background: linear-gradient(to right, #E634DD 0%, #000000 100%); */

  /* border-radius: 25px;
  border: 1px solid black; */
  
  height: 500px;
  /* box-shadow: 0px 0px 6px 3px rgba(255, 255, 255, 0.59); */
}

#BTB{
  background-color:rgba(1, 15, 85, 0.6);
  height:500px;
  padding-top:50px;
}

#b1{
  position:relative;
  bottom: 150px;
  right: 150px;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  border: none;
  background-color: #BF2EF0;
}
#b2{
  position:relative;
  bottom: 150px;
  left: 150px;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  border: none;
  background-color: #BF2EF0;
}



#fom > div > div > input{

  height: 45px;

}



.sb{
  background-image: url("../assets/images/logbg.jpg");
  background-position: center;
  background-size: cover;
  /* background: #f02ee3;
  background: linear-gradient(to right, #f02ed3 0%, #f02ed9 24%, #E4E4E4 75%, #FFFFFF 100%); */

}

.lbg{
  background-color:rgba(1, 15, 85, 0.4);
  height:700px;
  /* padding-top:50px; */
}

.sg > div > div > p{
  font-size: 18px;
}

.sg1 > div > div > p{
  font-size: 18px;
}






.bl > div > p {
  font-size: 25px;
}

.bl1 > div > p {
  font-size: 20px;
}

.bl1 > div {
  text-align: center;
}

.list1{
  border: 1px solid gray;
  border-radius: 20px;
  /* box-shadow: inset 30px 5px 4px 1px rgba(245, 46, 255, 1); */
  background-image: url("../assets/images/bg5.jpg");
  background-position: center;
  background-size: cover;
}

.list1:hover{
  box-shadow:  0px 0px 4px 2px rgba(72, 72, 72, 0.349) ;
  /* box-shadow: inset 30px 5px 4px 1px rgba(0, 0, 0, 1); */
}

/* .sigpag > img {
  height: 250px;
} */

.sbus{
  display: block;
}

.Ainp  {
  /* margin-top: 20px; */
  background-image: url("../assets/images/addbg.jpg");
  background-position: center;
  background-size: cover;
}


.Ainp > form > div > div > div {
  margin-top: 20px;
}

.Ainp > form > div > div > div > input {
  margin-top: 8px;
  border: 1px solid purple;
  height: 45px;
  
}

.Ainp > form > div > div > div > select {
  margin-top: 8px;
  border: 1px solid purple;
  height: 45px;
}



.Ainp > form > div > div > div > label {
  font-size: larger;
}

.booktic > button {

  height: 100px;
  width: 100%;
  margin: 2px;
  border: 1px solid purple;                            
  background-color: transparent;

}

.seaters {

  height: 110px;
  width: 100%;

}


.bookform > div > label{
  font-size: large;
}

.bookform > div > input{
  height: 40px;
}

.footersec > div {
  padding-left: 70px;
}

.footer-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-link:hover {
  color: #BF2EF0;
}

.social-icons > ul  {
  display: flex;
  /* justify-content: center; */
  gap: 15px;
  margin-top: 15px;
}

.social-link {
  color: #BF2EF0;
  transition: color 0.3s ease-in-out;
}

.social-link:hover {
  color: white;
}

#mobslide{
  display: none;
}

#deskslide{
  display: block;
}

.carousel-container {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.slide-content {
  position: relative;
  text-align: center;
  padding: 20px;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color:  rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
}

.slide-btn:hover {
  background: rgba(206, 202, 202, 0.3);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

@media (max-width: 600px) {
  .slide-btn {
    font-size: 16px;
    padding: 5px;
  }

  .slidecon > h4{
    font-size: 50px;
    color: white;
    margin-bottom: 50px;
  }

  .bookform > div > input{
    height: 45px;
  }
  
}




@media all and (max-width:500px){

  
  #mobslide{
    display: block;
  }

  .seaters {

    height: 90px;
    width: 100%;
  
  }

  #b1{

    position:relative;
    bottom: 500px;
    right: 0px;
    
}
#b2{

    position:relative;
    bottom: 330px;
    left: 0px;
    
}

.Ainp > form > div > div > div > input {
 
  height: 50px;
}

  #deskslide{
    display: none;
  }

  .Link > button{
    margin: 5px;   
}

  #S > form > div > div > input{

    height: 50px;
    width: 82%;
  
  }

  .footersec > div {
    padding-left: 40px;
  }

  .testbutton {
  
    padding: 10px 25px;
    margin-top: 15px;
    margin-left: -7px;
    font-size: 20px;
   
  }

  #L > form > div > input{
    height: 50px;
    width: 82%;
  
  }
  .testbutton1 {
  
    padding: 10px 25px;
    margin-top: 15px;
    margin-left: 5px;
    margin-left: -7px;
   
  }

  #BT{

    height: 500px;
  }
  
  #BTB{
    height: 500px;
  }

  .testbuttonbt {
  
    /* padding: 10px 25px; */
    /* margin-top: 20px; */
    /* margin-left: 10px; */
    font-size: 25px;
    height: 50px;
    width: 100%;
  }

  #fom > div > div > input{

    height: 55px;
  
  }


  .booktic > button {

    height: 60px;
  
  }

  

  /* #hb{
    height: 1900px;
  } */

  /* .sg > div > svg{
    margin-left: 80px;
  }

  .sg1 > div > svg{
    margin-left: 55px;
  } */
  .svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .svg-container > img {
    max-width: 100%;
    height: auto;
  }
  

  .bl > div {
    margin-top: 10px;
  }

  .bl1 > div {
    text-align: start;
  }

  /* .crd > div > img{
    padding-left: 100px;
  } */

  

  .sbus{
    display: none;
  }

  .card2 {
    background-color: rgba(255, 255, 255, 0.33);
  }

}

/* @media (min-aspect-ratio:16/9) {

  .background-clip{
    width: 100%;
    height: auto;
  }
  
}

@media (max-aspect-ratio:3/4) {

  .background-clip{
    width: auto;
    height: 100%;
  }
  
} */


@media all and (max-width:1200px){

  .footersec > div {
    padding-left: 20px;
  }

  .Link > button{
    margin: 5px;   
}

.lbg{
  
  height:950px;
 
}

#L > form > div > input{
  height: 50px;
  width: 80%;

}
.sbus{
  display: none;
}

}

@media all and (max-width:1120px){
  #b1{

    position:relative;
   bottom: 190px;
    right: 0px;
    
}
#b2{

    position:relative;
   bottom: 190px;
    left: 0px;
    
}
}

@media all and (max-width:1000px){
  .slide{
   
    padding: 100px 50px;
    min-height: 75vh;
   
  }

}

@media all and (max-width:600px){
  .slide{
   
    padding: 125px 30px;
   
  }

  .slidecon > h1{
    font-size: 70px;
  }

  .footersec > div {
    padding-left: 50px;
  }

  #b1{

    position:relative;
    bottom: 160px;
   
    
}
#b2{

    position:relative;
    bottom: 160px;
    
    
}
}


@media all and (max-width:330px){
  .seaters {

    height: 70px;
    width: 100%;
  
  }
}



